.course {
    padding: 100px 0 100px;
    background: #F9F9F9;
    &__what {
        display: flex;
        // gap: 35px;
        justify-content: space-between;
        &_title {
            font-weight: 600;
            font-size: 24px;
            line-height: 38px;
            color: #141024;
            padding: 60px 0 20px; 
            &-span {
                position: relative;
            }         
        }
        &_text {
            font-weight: 400;
            font-size: 18px;
            line-height: 29px;
            color: rgba(20, 16, 36, 0.7);
            width: 370px;
        }
    }
    &__row {
        position: relative;
    }
}
