.header .container {
  width: 95%;
  padding: 30px 100px;
}
.header {
  background: #141024;
  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__logo a,
  &__phone a {
    font-size: 30px;
    line-height: 48px;
    font-weight: 700;
    color: white;
  }

  &__phone {
    font-weight: 600;
  }

  &__nav {
    display: flex;
    gap: 40px;
    align-items: center;
    &_item a {
        color: white;
    }
    &_item {
      font-size: 20px;
      line-height: 32px;      
      position: relative;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      &:hover {
        border-top-color: white;
        border-bottom-color: white;
      }
    } 
  }  
}  
