.header .container {
  width: 95%;
  padding: 30px 100px;
}
.header {
  background: #141024;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__logo a,
  &__phone a {
    font-size: 30px;
    line-height: 48px;
    font-weight: 700;
    color: white;
  }

  &__phone {
    font-weight: 600;
    &_mobile {
      display: none;
      margin-left: auto;
      margin-right: 20px;
      position: absolute;
      right: 50px;
    }
  }

  &__nav {
    display: flex;
    gap: 40px;
    align-items: center;
    &_item a {
        color: white;
    }
    &_item {
      font-size: 20px;
      line-height: 32px;      
      position: relative;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      &:hover {
        border-top-color: white;
        border-bottom-color: white;
      }
    } 
    &_burger {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border: 1px solid white;
      border-radius: 10px;
      background: none;
      cursor: pointer;
      span {
        display: flex;
        background: white;
        width: 26px;
        height: 2px;
        content: "";
        position: relative;
      }
        span::before {
          content: "";
          position: absolute;
          width: 26px;
          height: 2px;
          background: white;
          top: -8px;
        }
        span::after {
          content: "";
          position: absolute;
          width: 13px;
          height: 2px;
          background: white;
          top: 8px;
        }
      position: absolute;
      right: 0px;
    }
  }  
}  
