* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

h2 {
  font-weight: 600;
  font-size: 50px;
}

select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

select.coaches__info_chapter--mobile {
  background: #d52027 url('/public/img/arrow-down.svg') no-repeat right 100px center;
  color: white;
  border: 1px solid transparent;
  border-radius: 0;
  -o-appearance:none; 
  -webkit-appearance: none; /* Стиль для Safari */
  -moz-appearance: none;    /* Стиль для Firefox */
  appearance: none;         /* Стиль для прочих браузеров */
}

// option .coaches__info_chapter--mobile:hover,
// option .coaches__info_chapter--mobile:active {
//   background: #d52027;
//   color: white;
// }