* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

h2 {
  font-weight: 600;
  font-size: 50px;
}
